<!doctype html>
<html lang="en" class="no-js">
  <body class="body">
      <div class="text">Constructing......</div>
  </body>
</html>
<style>
    .body{
        width: 100vw;
        height: 100vh;
        background-image: url("./constructing.svg");
        backaground-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 0;
        padding: 0;
    }
    .text {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 40px;
        color: #88B6E5;
    }
</style>
